/*
* {
    padding: 0;
    margin: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

.header-main {
    padding: 30px 0;
    border-bottom: 1px solid #dadada;
}

nav {
    padding: 30px 0; 
}
nav ul {
    list-style: none;
}

nav li {
    float: left;
    margin-right: 29px;
}

nav li a {
    color: #737373;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

nav li a.active, nav li a:hover {
   color: #2ecc71; 
}

.banner {
    margin-top: 20px;
    background-color: #2ecc71;
    background-image: url("../images/featuredbg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 525px;
}

.banner-spacer {
    height: 118px;
    width: 100%;
}

.banner img {
    margin: 0 auto;
    display: block;
}

.featured-text {
    margin: 112px auto 0 auto;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 750px;
    text-align: center;
}

.featured-text p {
    text-transform: uppercase;
    color: #adadad;
    line-height: 160%;
}

.featured-button {
    background-color: #2ecc71;
    color: white;
    display: inline-block;
    margin-top: 28px;
    padding: 16px 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.about-us {
    margin-top: 50px;
    padding: 40px 0;
    background: #efefef;
    overflow: hidden;
}

.about-us-video {
    float: left;
}

.about-us-text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    float: left;
    width: 50%;
    padding-left: 30px;
}

.about-us-text p {
    font-size: 0.875em;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.about-us-text h3 {
    color: #737373;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.featured-projects {
    background: #fff;
    clear: both;
    text-align: center;
    padding: 50px 0;
}

.featured-projects h3 {
    color: #737373;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.featured-projects p {
    color: #adadad;
    font-size: 0.875em;
    line-height: 160%;
}*/

* {
    padding: 0;
    margin: 0;
}

body {
    font: 1em/1.2em "Helvetica Neue", Helvetica, sans-serif;
}


.container {
    width: 940px;
    margin: 0 auto;
}

header .nav-main {
    padding: 30px 0;
    border-bottom: 1px solid gray;
}

nav {
    font-size: 1.125em;
    text-transform: uppercase;
    padding: 30px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

header li > a {
    color: #737373;
    text-decoration: none;
}

header a.active, header li > a:hover {
    color: #2ecc71;
}

/* Featured */

.featured {
    height: 525px;
    background: #2ecc71 url("../images/featuredbg.png") center center no-repeat;
    text-align: center;
}

.featured-spacing {
    height: 120px;
}

.featured-text  {
    text-align: center;
}

.featured-text p {
    color: #aeadad;
    margin: 110px 0 30px 0;
}

a.featured-button {
    background: #2ecc71;
    color: #fff;
    display: inline-block;
    padding: 20px 20px 15px 20px;
    margin-bottom: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

/* About Us */
.about-us {
    padding: 40px 0;
    background: #efefef;
    overflow: auto;
}

.about-us-image {
    float: left;
    display: block; 
}

.about-us-text {
   float: left;    
   margin-left: 30px;
   width: 45%;
}
.about-us-text h3  {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about-us-text p {
    color: #aeadad;
    margin-bottom: 30px;
}

.projects {
    padding: 50px 0;
    text-align: center;
    background: #fefefe;
}

.projects h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
}
.projects p {
    color: #aeadad;
}

.find-out {
    background: #322f2f;
    text-transform: uppercase;
    overflow: auto;
    padding: 60px 0;
}

.find-out h3 {
    float: left;
    color: #fff;
}

.find-out-button {
    float: right;
    color: #fff;
    background: #2ecc71;
    padding: 15px 20px;
    text-decoration: none;
}

footer {
    background: #fefefe;
    padding: 28px 0;
    font-size: calc(12px / 16px);
    color: #a5a5a5;
}

footer h5 {
    float: left;
    text-transform: uppercase;
}

.footer-nav {
    float: right; 
}


ul.footer-nav {
    list-style: none;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li {
    padding:  0 5px;
}

.footer-nav li:after {
    content: "/"
}

.footer-nav li:last-child:after  {
    content: ""
}


.footer-nav li  a {
    color: inherit;
    text-decoration:  none;
}

